

      <div class="header" >
          <div> 
            <%= image_tag '4DF7A8.svg', class:" logo"%>
          </div>
          <div class="nav-header">
            <nav>
              <ul class="nav">
                <li> <%= link_to 'welcome', anchor:"welcome", class:'a' %></li>
                <li><%= link_to 'about', anchor:"about", class:'a'%></li>
                <li><%= link_to 'what we do', anchor:"what-we-do" , class:'a' %></li>
                <li><%= link_to 'who we work with', anchor:"work-with", class:'a' %></li>
                <li><%= link_to 'contact us', anchor:'contact-us', class:'a' %></li>
              </ul>
            </nav>
          </div>  
           
      </div>
      <div class="bg" >
       
          <h1> Collegiate Esports Consultants </h1>
      </div>  

