<div id=header> 
    <%= image_tag '4DF7A8.svg', class:'logo'%>
    <%= link_to 'welcome', anchor:"welcome" %>
    <%= link_to 'about', anchor:"about" %>
    <%= link_to 'what we do', anchor:"what-we-do" %>
    <%= link_to 'who we work with', anchor:"work-with" %>
    <%= link_to 'contact us', anchor:'contact-us' %>
</div>

<div class="content">


<div id="welcome"> 
    <h1> Dynamic Esports </h1>
        <h2> Collegiate Esports Consultants </h2>

            <p> Contributing to the growth of collegiate esports by providing comprehensive support </p>

    <div class="horizontal-container"> 
        <div class="vertical-container"> <span> <%= image_tag 'icon1.svg', class:'icon'%> </span> Unbiased Thought Partnership </div>
        <div class="vertical-container"> <span> <%= image_tag 'icon2.svg', class:'icon'%>  </span> Solutions Made for Esports </div>
        <div class="vertical-container"> <span> <%= image_tag 'icon3.svg', class:'icon'%>  </span> Holistic and Sustainable Support </div>
    </div>

</div>






<div id="what-we-do"> 
    <h3> Collegiate Esports</h3>

        <div> Creates Opportunities for Students to Explore a Growing Field </div>
        <div> Offers Common Benefits of Athletics: Communtity, confidence, well-being, accountability, teamwork </div>
        <div> More Accessible than most other athletic Programs</div>
        <div> More Inclusive of Neurodiverse Students than Other Programs</div>

    <h3> What we've done</h3>
        <div> Through intensive research of higher education programs and esports trends, we've been able to:</div>
            <div> Identify common problems among esports directors</div>
            <div> Identify best-practices among successful collegiate esports programs.</div>
    <h3> What we can do </h3>
        <div> With our research and experience we can create self-sufficient esports programs. Esports directors will be able to: </div>
        <div> identify and implement sustainable solutions</div>
        <div> develop the esports programs to fufill stakeholders' needs </div>
        <div> attest for the need for an esports program</div>
        <div> direct a program that generates revenue</div>
        <div> strategically navigate a swiftly evolving terrain</div>
        
        <div> 
        
        <div> Research, Insight, Tools</div>

        <div> Personalized research</div>
        <div> Best practive research</div>
        <div> Handbooks</div>
        <div> Research and expert panels </div>

        <div> Strategic Planning and Decision Support </div>

        <div> Audits </div>
        <div> Benchmarking</div>
        <div> Decision Impact Analysis</div>
        
        <div>  Sponsorship</div>

        <div>  Asset Valuation</div>
        <div> Research potential partners</div>
        <div> create pitch materials </div>
        <div> conduct specific research</div>
</div>

<div id="work-with"> 
<h2> Who we work with</h2>
Phase II
</div>

<div id="about">
    <h2> About the Dynamic Duo</h2>

    <div> 
        <div>  <span>Aaquib<%= image_tag 'Aaquib_headshot.png', class:'headshot'%></span> <p> Former GM at Iceforce esports, Head of White Label Services at Elo Hell Esports and consulting experience with True Neutral. MS in Sport Management.</p></div> 
        <div>  <span>Ethan<%= image_tag 'Ethan_Headshot.png', class:'headshot'%></span><p> Partnership experience with the Washington Justice. Prior college athletics coaching and higher education experience. MS in Sport Management.
        </p></div> 
    
    </div>

</div>


<div id="contact-us"> 
    <h2> contact and connect</h2>
        <div>
            <span> Address </span>
            <span> Phone </span>
            <span> Email </span>
            <span> Contact Form </span>

        </div>
        <div>
            <span> IG </span>
            <span> YT </span>
            <span> FB </span>
            <span> Discord </span>
            <span> Twitch </span>
        </div>
</div>

</div>
</div>