
    
    <div class="content">


        <div id="welcome"> 
            
            <h2 class="center sep"> Growing Collegiate Esports By Providing Comprehensive Support </h2>
                <div class="horizontal-container welcome">
                    <div class="text-block "> 
                        <p>
                        Dynamic Esports provides esport directors the  
                        support that prioritizes the needs of their program,
                        support that understands the context of esports, and
                        recommendations that consider cause and effect on all elements of their esports program.
                        </p>
                    </div>

                    <div class="right">
                        <div class="vertical-container intro"> <span> <%= image_tag 'icon1.svg', class:'icon'%> </span> Unbiased Thought Partnership </div>
                        <div class="vertical-container intro"> <span> <%= image_tag 'icon2.svg', class:'icon'%>  </span> Solutions Made for Esports </div>
                        <div class="vertical-container intro"> <span> <%= image_tag 'icon3.svg', class:'icon'%>  </span> Holistic and Sustainable Support </div>
                    </div>
                </div>
        </div>
                
        <div class="spacer"> </div>
                
         
        <div class="horizontal-container">

     
           
            <span> <%= image_tag 'multiple_gamers.jpg'%> </span> 
            <span class="info-stat"> <span class="big-num"> 54% </span> average annual growth in esports programs over the past three years.  </span> 
          
        </div>

        <div class="spacer">  </div>
        


        <div id="what-we-do"> 
            <h2 class="left-pad bg"> COLLEGIATE ESPORTS </h2>
         
                  
                
                    <div class="vertical-container top-pad">
                       
                
                        <p class="text-block plus">
                        Creates a sense of Community, inspires Confidence, improves Well-being, 
                        promotes Accountability, and reinforces the importance of Teamwork. 

                        </p>
                   
                    <div class="horizontal-container plus">
                        <div class="esports intro"> Creates Opportunities for Students to Explore a Growing Field </div> 
                        <div class=" esports intro"> More Accessible Than Most Other Athletic Programs</div>
                        <div class=" esports intro"> More Inclusive of Neurodiverse Students Than Other Programs</div>
                    </div>
                </div>
        
        <div class="spacer">  </div>

            <h3 class="left-pad bg"> DYNAMIC ESPORTS METHODOLOGY</h3>      
                <div class="vertical-container">
          
                        <div class="horizontal-container methodology">

                            <%= image_tag 'methodology.jpg', class:"image-method"%> 
                           
                        </div>
                        
                        <div class="horizontal-container">
                            <p class="text-block plus ">Through intensive research of higher education programs and esports trends, 
                            we have been able to:</p> 
                         </div>      
                        <div class="horizontal-container wide">
                            <div class="child intro"> Identify common problems among esports directors</div>
                            <div class="child intro"> Identify best-practices among successful collegiate esports programs.</div>
                        </div>

                </div>       
             

            <h3 class="left-pad bg"> DYNAMIC ESPORTS CAN HELP </h3>
               <div class="horizontal-container monitor">
                    <div class="horizontal-container"> 
                    With our research and experience we will
                    create self-sufficient esports programs.
                    Esports directors will be able to
                        identify and implement sustainable solutions
                        while developing the esports programs to fufill needs. They will be able to 
                        attest for the need for an esports program and then direct a program that will generate revenue through multiple
                        streams. All the while, strategically and efficiently navigating through a swiftly evolving terrain.</div>
                    </div> 
                </div>

                <div> <hr></div>
               
                    
                <div class=" text-block assets"> 
                    Dynamic Esports delivers Research, Insight, and Tools to esports 
                    directors and programs. Dynamic Esports provides access to broad-based and custom 
                    Personalized research,
                    Best practice research,
                    Handbooks, and 
                    Expert Panels.
                </div>
                
         <div> <hr></div>

                <div class="text-block assets"> 
                    Formulates Strategic Planning and Decision Support through Audits,
                     Benchmarking, and Decision Impact Analysis to implement key insights.  
                   
                </div>

        <div> <hr></div>    
           
                <div class="text-block assets"> 
                    Dynamic Esports provides comprehensive 
                    support in securing Sponsorships.
                    Aids with evaluating Assets, 
                    researching potential partners, 
                    creating pitch materials, and
                    conducting specific research. 
                </div>

        <div id="work-with"> 
            <h2 class="left-pad bg"> WHO WE WORK WITH</h2>
  
                <div class="work-with-sub"> 
                    <h3> The Esports market on track to surpass <span class="smaller-num"> $1.5 billion</span> in revenue by 2023. </h3>
                    <h2 class="top-pad"> Are you ready to be a part of that market?</h2>
                </div>
            
          
        </div>
        
        <div class="spacer"> 
        </div>
            
        <div id="about">
            <h2 class="left-pad bg"> ABOUT THE DYNAMIC DUO</h2>

            <div class="horizontal-container top-pad"> 
                <div class="vertical-container"> 
                                   <%= image_tag 'Aaquib_headshot.png', class:'headshot'%>
                                   
                                   <div class="bio">

                       Aaquib is the former GM at Iceforce esports, Head of White Label Services at Elo Hell Esports 
                       and has extensive consulting experience with True Neutral. 
                            MS in Sport Management.
                            </div>
                       
               </div>
                 
               <div class="vertical-container">
                        <%= image_tag 'Ethan_Headshot.png', class:'headshot'%>
    
                    <div class="bio">
                             Ethan has partnership experience with the Washington Justice. 
                            Prior college athletics coaching and higher education experience. 
                            MS in Sport Management.
                            </div>

                </div>            
            </div>

        </div>

        <div class="spacer"> </div>
            <div id="contact-us"> 
                <h2 class="left-pad bg"> contact and connect</h2>
                    <div>
                        <span> Address </span>
                        <span> Phone </span>
                        <span> Email </span>
                        <span> Contact Form </span>

                    </div>
                    <div>
                        <span> IG </span>
                        <span> YT </span>
                        <span> FB </span>
                        <span> Discord </span>
                        <span> Twitch </span>
                    </div>
            </div>
        </div>
    </div>    
    </div>
    </div>